body {
    margin:4em;
    padding:10;
    background-color: #D3D3D3;
    font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  text-transform:uppercase;
}

a, a:visited {
    color: #0071bc;
}

a:hover {
    color: #8B0000;
}

.flex-container-A {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: DodgerBlue; */
  width:100%;
}

.flex-container-A > div {
  background-color: #f1f1f1;
  width: 100%;
  margin-top: 10px;
  padding: 40px;

  text-align: center;
  /* line-height: 75px; */
  /* font-size: 30px; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: DodgerBlue; */
  width:100%;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 300;
  height: 130;
  margin: 10px;
  padding: 40px;

  /* text-align: center; */
  /* line-height: 75px; */
  /* font-size: 30px; */
}

.center {
  margin-top: 5vh;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  display: flex;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #a9a9a9;
  color: black;
  border: 2px solid #808080;
}

.button1:hover {
  background-color: #808080;
  color: white;
}
